@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  background-color: #dee7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #dee7e7;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.welcome-container {
  background-color: #5a5a66;
  width: 400px;
  height: 600px;
  margin-top: 6rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.hustler-heading {
  margin-top: 1rem;
  font-size: 4rem;
}

.choose-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.option-container {
  width: 60%;
  padding: 1rem 0;
  margin-bottom: 3rem;
  background-color: #a4c2a8;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.5s;
  transition: color 0.5s;
}

.option-container:hover,
.option-container:active {
  color: #a4c2a8;

  background-color: #dee7e7;
  transition: 0.5s;
}

.sound-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.sound {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #dee7e7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  cursor: pointer;
}

.sound-img {
  width: 30px;
}

/* GAME */

/* JOBS */

.game-section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.total-money {
  color: #4f646f;
  font-size: 4rem;
  text-align: center;
}

.money-jobs {
  width: 80%;
  margin-left: 2rem;
}

.jobs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 6rem;
}

.job-bar {
  width: 400px;
  height: 60px;
  background-color: #5a5a66;
  margin-bottom: 1rem;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-profit {
  font-size: 2rem;
  z-index: 1;
}

.job-container {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.job-container > img {
  margin-right: 1rem;
}

.job-image--upgrade {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
}

.upgrade-progress-count {
  background-color: #4f646f;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  font-weight: 900;
  border-radius: 25px;
  font-size: 1.2rem;
  position: relative;
  z-index: 1;
}

.cost-time--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.job-cost-container {
  width: 60%;
  padding: 10px 0;
  background-color: #c98686;
  border-bottom-left-radius: 25px;
  cursor: pointer;
}

.job-cost {
  margin-left: 2rem;
}

.job-cost--price {
  margin-left: 0.5rem;
}

.time-container {
  width: 35%;
  background-color: #4f646f;
  padding: 10px 0;
  border-bottom-right-radius: 25px;
  text-align: center;
}

.upgrade-number {
  z-index: 10000;
}

.job-bar {
  position: relative;
}

.progress-bar {
  position: absolute;
  left: 0%;
  width: 0%;
  height: 100%;
  border-radius: 25px;
  background-color: #5a8760;
  z-index: 1;
}

.upgrade-progress-bar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #94a8b3;
  border-radius: 25px;
  padding: 5px 0;
  top: 0%;
  z-index: -2;
}

.job-cost-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buy-more--container {
  font-size: 1rem;
}

.buy-more {
  font-size: 1.4rem;
}

.jobs img {
  cursor: pointer;
}

/* SIDEBAR */

.sidebar {
  height: 100%;
  width: 15%;
  background: rgba(183, 173, 207, 0.75);
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(183, 173, 207, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}

.avatar {
  width: 70%;
  padding: 1rem;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(222, 231, 231, 0.69);
  border-radius: 11px;
}

.sidebar-thing {
  height: 70px;
  margin-top: 2.5rem;
  width: 85%;
  background: rgba(222, 231, 231, 0.69);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(222, 231, 231, 0.3);
  color: #5a5a66;
  font-family: "Nova Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
}

.sidebar-option {
  cursor: pointer;
}

.sidebar-option:active {
  background: rgba(222, 231, 231, 1);
}

.shop {
  margin-bottom: 5rem;
}

/* SLIDER */

.slider {
  margin-top: 16rem;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  background-color: #a4c2a8;
  border: 10px solid #dee7e7;
  border-bottom: none;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  bottom: -100%;
  left: 0;
  animation-name: slideup;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.slider-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: -100%;
  height: 100%;
  width: 100%;
  left: 0;
  animation-name: slideup;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

/* ANIMATION */

@keyframes slideup {
  0% {
    bottom: -120%;
  }

  100% {
    bottom: -15%;
  }
}

@keyframes slidedown {
  0% {
    bottom: -15%;
  }
  100% {
    bottom: -120%;
  }
}

.slider-container::-webkit-scrollbar {
  display: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.close-container {
  width: 80px;
  height: 80px;
  background-color: rgba(120, 165, 126, 1);
  border: 5px solid #dee7e7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  position: absolute;
  right: 2%;
  top: -5%;
  cursor: pointer;
  font-family: "Nova Mono", monospace;
}

.close-container:active {
  opacity: 0.9;
}

.heading-container {
  width: 350px;
  height: 150px;
  background-color: #4f646f;
  position: absolute;
  top: -13%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #dee7e7;
  border-radius: 11px;
  font-family: "Nova Mono", monospace;
}

.slider-heading {
  font-size: 4rem;
}

.total-money-display--slider {
  margin-top: 4rem;
  font-size: 3rem;
  font-weight: 900;
}

.border-effect {
  width: 80%;
  height: 10px;
  background-color: #dee7e7;
  margin: 2rem 0;
}

.slider-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-option-info--heading {
  color: #8c7aa9;
  font-size: 2.2rem;
  margin-bottom: 0.6rem;
}

.slider-option-info--text {
  font-size: 1.3rem;
  font-style: italic;
}

.managers-option--container {
  padding-bottom: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.manager-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(222, 231, 231, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(222, 231, 231, 0.3);
  padding: 0.5rem 2rem;
  margin: 1rem;
}

.manager-name-info-price {
  height: 130px;
  width: 300px;
  color: #4f646f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  margin-left: 1rem;
}

.manager-name {
  font-size: 1.7rem;
  margin-bottom: 0.4rem;
  font-weight: 900;
}

.manager-info {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.manager-price {
  font-weight: 700;
  font-size: 1.5rem;
}

.manager-buy {
  background-color: #fcab10;
  width: 130px;
  height: 75px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 20px;
}

/* UPGRADER */

.upgrades-option--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -1rem;
  padding-bottom: 5rem;
}

.upgrader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(222, 231, 231, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(222, 231, 231, 0.3);
  padding: 1rem 2rem;
  margin: 2rem;
  width: 18%;
}

.upgrader-img {
  margin-bottom: 1rem;
}

.upgrader-info-price {
  color: #4f646f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upgrader-heading {
  font-size: 2rem;
}

.upgrader-info {
  margin-top: 0.3rem;
  font-style: italic;
  font-weight: 500;
}

.upgrader-price {
  font-size: 1.6rem;
  font-weight: 900;
  margin-top: 2rem;
}

.upgrader-buy {
  background-color: #fcab10;
  width: 100px;
  height: 45px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 16px;
  margin-top: 1rem;
}

/* AVATAR */

.avatar-option--container {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-options {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  padding-bottom: 3rem;
  border-bottom: 10px solid #f4faff;
  margin-bottom: 2rem;
}

.top-options--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
  cursor: pointer;
}

.top-options-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: rgba(222, 231, 231, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(222, 231, 231, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-options--heading {
  background: rgba(222, 231, 231, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(222, 231, 231, 0.3);
  border-radius: 16px;
  width: 120px;
  padding: 0.5rem 0;
  text-align: center;
  color: #4f646f;
}

/* selected effect */

.swag-option-img {
  background-color: #dee7e7;
}

.swag-option--heading {
  background-color: #dee7e7;
}

/* .inventory-option-img {
  background-color: #dee7e7;
}

.inventory-option--heading {
  background-color: #dee7e7;
} */

.border-effect--avatar {
  width: 80%;
  height: 10px;
  background-color: #dee7e7;
  margin: 3rem 0;
}

/* SWAG */

.bottom-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 3rem;
}

.left-side {
  margin-right: 7rem;
}

.right-side {
  margin-left: 7rem;
  display: flex;
  flex-direction: column;
}

.item-used-top {
  display: flex;
}

.item-used-bottom {
  display: flex;
}

.avatar-selection--container {
  width: 100%;
  padding: 3rem 9rem;
  border: 5px solid #3b4dff;
  background-color: #dee7e7;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.gender-select {
  width: 110px;
  height: 110px;
  left: 0%;
  bottom: 0%;
  border: 5px solid #3b4dff;
  border-bottom: none;
  border-left: none;
  background-color: #dee7e7;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  border-bottom-left-radius: 16px;
}

.item-used--container {
  width: 160px;
  height: 160px;
  background: rgba(222, 231, 231, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(222, 231, 231, 0.3);
  border-radius: 16px;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* INVENTORY */

.avatar-selection-container--inventory {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.item-container {
  width: 160px;
  height: 160px;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.item-container--average {
  background: rgba(0, 93, 255, 0.63);
  border: 5px solid rgba(0, 93, 255, 1);
}

.item-container--rare {
  background: rgba(255, 0, 0, 0.63);
  border: 1px solid rgba(255, 0, 0, 1);
}

.item-container--gold {
  background: rgba(255, 215, 0, 0.63);
  border: 1px solid rgba(255, 215, 0, 1);
}

.no-items--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-items--heading {
  font-size: 2rem;
}

.no-items--buy {
  width: 200px;
  height: 65px;
  margin-top: 2rem;
  border: 5px solid #ffd700;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 2.2rem;
  font-family: "Nova Mono", monospace;
  color: #dee7e7;
  background-color: rgba(255, 215, 0, 0.5);
  font-weight: 900;
}

/* INVESTORS */

.investors-option--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 20%;
}

.investors-left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.investors-text {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #7d7d8c;
}

.investors-text--heading {
  font-size: 2rem;
  color: #5a5a66;
  margin-bottom: 1rem;
}

.investors-text-info {
  font-size: 1.4rem;
  font-family: "Nova Mono", monospace;
  width: 80%;
}

.investors-number {
  background-color: #415a77;
  border-radius: 22px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profit-increase--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
}

.investor-number-heading {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.total-profit-increase-text {
  font-size: 3rem;
  background-color: #dee7e7;
  color: #415a77;
  width: 80%;
  border-radius: 16px;
  text-align: center;
  font-weight: 900;
}

.investors-right-side {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profit-claim-container {
  width: 350px;
  height: 450px;
  background: rgba(222, 231, 231, 0.6);
  border: 5px solid rgba(222, 231, 231, 1);
  border-radius: 16px;
  color: #415a77;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.profit-increase-text {
  margin-top: 5rem;
  font-size: 3rem;
  font-weight: 900;
  color: #5a5a66;
}

.profit-claim-text {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  font-style: italic;
  color: #f71735;
}

.claim-profit {
  margin: 3rem 0;
  color: #dee7e7;
  width: 200px;
  height: 80px;
  background-color: #f71735;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: "Nova Mono", monospace;
  cursor: pointer;
}

.warning-text {
  color: #5a5a66;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
}

/* SHOP */
.shop-option--container--wrapper {
  padding-bottom: 5rem;
}

.shop-option--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.shop-top--options {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
  border-bottom: 10px solid #f4faff;
}

.shop-top-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
  cursor: pointer;
}

.shop-option-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: rgba(222, 231, 231, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(222, 231, 231, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shop-option--heading {
  background: rgba(222, 231, 231, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(222, 231, 231, 0.3);
  border-radius: 16px;
  width: 120px;
  padding: 0.5rem 0;
  text-align: center;
  color: #4f646f;
}

.shop-option--shop-img {
  background-color: #dee7e7;
}

.shop-option--shop-heading {
  background-color: #dee7e7;
}

.gold-money--container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

.gold-number--container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nova Mono", monospace;
}

.gold-number--value {
  margin-left: 1.2rem;
  font-size: 3rem;
  color: #4f646f;
  margin-right: 4rem;
}

.total-money-display--shop {
  font-size: 3rem;
  display: flex;
  align-items: center;
  margin-left: 4rem;
  font-family: "Nova Mono", monospace;
  color: #4f646f;
  font-weight: 900;
}

/* SHOP SELECTION */

.shop-selection-container--shop {
  margin: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* EXCHANGE SELECTION */

.shop-selection-container--trade {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 5rem;
  margin-top: 3rem;
}

.converter--buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dollars-to-gold--container {
  width: 600px;
  height: 300px;
  margin-top: -2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: rgba(59, 77, 255, 0.65);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 10px solid rgba(59, 77, 255, 1);
}

.cost-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  width: 80%;
}

.cost-display--container {
  width: 300px;
  padding: 0.5rem 0;
  background-color: #dee7e7;
  border: 3px solid #5a5a66;
  color: #5a5a66;
  border-radius: 10px;
  height: 60px;
  margin-left: 1rem;
}

.result-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  width: 80%;
}

.result-display--container {
  width: 300px;
  height: 60px;
  padding: 0.5rem 0;
  background-color: #dee7e7;
  border: 3px solid #5a5a66;
  color: #5a5a66;
  border-radius: 10px;
  margin-left: 1rem;
}

.result-gold-text,
.cost-money-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
}

.result-gold-value {
  margin-right: 5rem;
}

.cost-money-value {
  margin-right: 3rem;
}

.exchange-cost--heading,
.exchange-result--heading {
  font-size: 2.3rem;
  width: 30%;
  color: #5a5a66;
}

.buttons-container {
  margin-left: 1rem;
  border: 5px solid #dee7e7;
  border-radius: 16px;
  background-color: #dee7e7;
}

.arrow {
  width: 75px;
  height: 75px;
  background: rgba(59, 77, 255, 0.65);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(59, 77, 255, 0.3);
  cursor: pointer;
}

.arrow-up--container {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.arrow-down--container {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.arrow-up,
.arrow-down {
  font-size: 6rem !important;
  font-weight: 900 !important;
}

.exchange-button {
  margin-top: 2rem;
  padding: 1rem;
  font-size: 2.7rem;
  border: 10px solid #f4faff;
  background-color: #dee7e7;
  cursor: pointer;
  color: rgba(59, 77, 255, 0.65);
  border-radius: 11px;
  font-family: "Nova Mono", monospace;
  font-weight: 900;
}

/* FREE */

.shop-selection-container--freeGold {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 4rem;
}

.social-media--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  padding: 0.5rem;
  padding-right: 0;
  text-align: left;
  margin: 0.7rem 0;
  border: 5px solid #dee7e7;
}

.social-media-text {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

.social-media--btn {
  color: #dee7e7;
  background-color: #415a77;
  border: 5px solid #dee7e7;
  border-right: none;
  font-size: 3rem;
  padding: 1rem;
  font-weight: 700;
  border-top-left-radius: 35%;
  border-bottom-left-radius: 35%;
}

.free-left-side {
  margin-right: 5rem;
}

.free-right-side {
  margin-left: 5rem;
}

.promo-code--container {
  border: 5px solid #dee7e7;
  border-radius: 16px;
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 4rem;
}

.text-alert {
  margin-top: 3rem;
  color: #f71735;
}

.promo-code--heading {
  font-size: 2rem;
  color: #415a77;
  margin: 2rem 0;
}

.promo-code--form {
  margin-top: 3rem;
}

.promo-code--input {
  border: none;
  padding: 0.5rem;
  border-radius: 11px;
  outline: none;
  margin-right: 1.5rem;
}

.promo-codeBtn {
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 11px;
  color: #3b4dff;
}

.promo-codeBtn:hover,
.promo-codeBtn:active {
  background-color: #3b4dff;
  color: #dee7e7;
  cursor: pointer;
}

/* POP-UPS */

/* FREE GOLD */

.pop-up--freeGold {
  position: absolute;
  z-index: 100;
  background-color: #f4faff;
  border-radius: 11px;
  border: 5px solid #ffd700;
  width: 350px;
  height: 400px;
  color: #415a77;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: default;
  left: 0;
  right: 0;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Nova Mono", monospace;
}

.pop-up--freeGold-heading {
  font-size: 2.2rem;
}

.pop-up--yay {
  border: 3px solid #ffd700;
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
  cursor: pointer;
  font-size: 1.7rem;
  padding: 1.5rem 2rem;
}

.pop-up--freeGold-text {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
}
.pop-up--freeGold-number {
  margin-left: 0.7rem;
}

.pop-up--overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  cursor: default;
}

.hidden {
  display: none;
}
